<div class="flex grow vertical">
  <div class="flex grow vertical center-horizontally center-vertically">
    <div class="title">
      SECONDS
    </div>
  </div>
  <div class="start-button flex center-horizontally center-vertically">
    Start!
  </div>
</div>